html{
    height: 100vh;
}
.navbar{
    justify-content: space-around;
}

a{
    text-decoration: none;
}

#dis{
    color: gray;
}

.bi-emoji-dizzy{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.notShow{
    visibility: hidden;
}

#smile{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);



}

#smileBad{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#mainContent{
    display: flex;
    justify-content: center;
    height: 100vh;

}

.buttons{
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);

    height: 4vh;
    display: flex;
    gap: 2vw;

}

#text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
 width: 100px;
}